<h1>About</h1>

<h3>This is an ongoing project, and as such will not reflect the final version. To view the code for this project, click the link below:</h3>

<a href="https://github.com/Callum-Luxford/ManaBlog" target="_blank" class="github__repo">https://github.com/Callum-Luxford/ManaBlog</a>

